@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --first_color:#1aa7ec;
    --second_color:#4adede;
    --third_color:#797ef6;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;

}

*{
    padding: 0;
    margin: 0;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}

body{
    font-family: "Rubik", sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
.container{
    margin: 0 auto;
    padding: 20px 30px;
    max-width: 1400px;
    overflow:hidden;
    
}
.text-blue-600 {
    --tw-text-opacity: 1;
    color: var(--first_color);
    outline: 1px solid var(--first_color) ;

}
.gradient-text-color {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, var(--first_color), var(--third_color));
    color: transparent;
}
.primary-btn{
    padding: 10px 30px;
    font-weight: 500;
    background-color: var(--first_color);
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    transition: all 0.3s;
    border-width: 2px;
    cursor: pointer;
}
.primary-btn:hover{
    background-color: #fff;
    color: var(--second_color);
    border: 2px solid var(--second_color);
}
.secondary-btn{
    padding: 10px 30px;
    font-weight: 500;
    font-size: 20px;
    background-color: #fff;
    color:inherit;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    transition: all 0.3s;
}
.secondary-btn:hover{
    background-color: rgba(71, 85, 105, .05);
}

.header  a.active{
    border: 2px solid #1aa7ec;
    color: #1aa7ec;
}
/*PROJECT & PROJECTCARD*/
.project .content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.project .content .projectcard{
    min-height: 600px;
    padding: 10px 20px;
    border-radius: 10px;
   border:  2px solid #e5e7eb  ;
   transition: 0.3s;
}
.project .content .projectcard:hover{
    box-shadow:1px 1px 9px 1px rgb(68 68 79 / 30%)
}
.project .content .projectcard img{
    width: 100%;
}
.project .content .projectcard .date{
    font-size: 14px;
    margin: 5px 0;
    color: rgb(177, 66, 66);
    padding: 10px 20px;
    background-color:rgba(177, 66, 66, 0.3); 
    border: 1px solid rgb(177, 66, 66);
    border-radius: 5px;
}
.project .content .projectcard .project-name{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.project .content .projectcard .project-name a{
    color: #1aa7ec;
    background-color: #e5e7eb;
    border: 1px solid #1aa7ec;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.project .content .projectcard .project-name span:hover{
    color: #fff;
    background-color: #1aa7ec;
}
.project .content .projectcard .project-name span i{
    margin:0 5px;
}
.project .content .projectcard .desc{
   color: rgb(55 65 81);
   margin-bottom: 10px;
}
.project .content .projectcard .tools{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
.project .content .projectcard .tools span{
    color: #1aa7ec;
    background-color: #e5e7eb;
    border: 1px solid #1aa7ec;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
}
.project .buttons{
    display: flex;
    justify-content: center;
}
.project .buttons .active{
    background-color: #fff;
    color: var(--second_color);
    border: 2px solid var(--second_color);
}
@media screen and (max-width:1100px) {
    .header .links li a{
        padding: 5px !important;
        font-size: 14px !important;
    }
    
    .project .content {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .services .content {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    .contact form {
       min-width: auto !important;
       flex-direction: column;
    }
    .contact form .w-49{
        width: 100% !important;
    }
}
@media  screen and (max-width:900px) {
    .header .links {
       display: none;
    }
    .home .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home .container .row{
        text-align: center !important;
        width: 100%;
    }
    .home .container .row.right{
        display: none;
    }
    .home .container .left h2{
            font-size: 32px;
    }
    .home .container .left p{
        font-size: 16px !important;
        margin:  5px 0 !important;
    }
    
    .home .container .buttons{
        gap:5px !important;
        justify-content: center;
    }
    .home .container .primary-btn,.home .container .secondary-btn {
        padding: 10px;
        font-weight: 300;
        font-size: 16px;
    }
    .about .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about .row {
        width: 100% !important;
        min-height: 250px;
        text-align: center;
    }
    .about .row.left{
        display: flex;
        justify-content: center;
    }
    .about .row.left .img{
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
    }
    .about .row.left img{
        width: 100%;
        height: 100%;
    }
    .project .buttons button{
        padding: 5px !important;
        font-size: 14px;
    }
    .project  .content{
        grid-template-columns: repeat(1, 1fr) !important;

    }
    .services .content{
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .services .flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services .flex .row{
        width: 100% !important;
    }
    .services .flex .left, .services .right{
        padding: 0 !important;
    }
    .contact .contact-links{
        gap: 5px !important;
      
    }
    .contact .contact-links a{
        padding: 5px !important;
        font-size: 14px !important;
        font-weight: 300 !important;
    }
    .footer .dark {
        font-size: 16px !important;
    }
}